body {
  margin: 0;
  background-image: url("https://assets.codepen.io/158719/src-bg.png");

}

@keyframes animate {
  0% {
    background-size:
      100%;
    background-position:
      top;
  }

  100% {
    background-size:
      2500%;
    background-position:
      center;
  }
}

#gatsby-focus-wrapper {
  width: 100%;
}

#___gatsby {
  animation-name: animate;
  height: 100%;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  background: linear-gradient(-65deg, #000, rgba(0, 0, 0, 0.5), #000, #000, #000, #000);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  // background-blend-mode:
  //   overlay;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 150% 150%;
  }

  100% {
    background-position: 0% 50%;
  }
}


// .shape {
//   display: block;
//   fill: #2095F2;
//   margin: 0 auto;
// }

// .shape1 {
//   animation: rotate 1500ms infinite;
//   margin-top: 50px;
// }

// .shape2 {
//   animation: rotateScale 1500ms infinite;
//   fill: #ccc;
//   filter: blur(4px);
//   margin-top: 10px;
// }

// @keyframes rotate {
//   0% {
//     transform: rotate(0deg);
//   }

//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes rotateScale {
//   0% {
//     transform: scaleY(0.2) rotate(0deg);
//   }

//   100% {
//     transform: scaleY(0.2) rotate(360deg);
//   }
// }


// @keyframes textclip {
//   to {
//     background-position: 250% center;
//   }
// }

// .mouse-cursor-gradient-tracking {}

// .mouse-cursor-gradient-tracking {
//   position: relative;
//   background: #7983ff;
//   padding: 0.5rem 1rem;
//   font-size: 1.2rem;
//   border: none;
//   color: white;
//   cursor: pointer;
//   outline: none;
//   overflow: hidden;
// }

// .mouse-cursor-gradient-tracking span {
//   position: relative;
// }

// .mouse-cursor-gradient-tracking:before {
//   --size: 0;
//   content: '';
//   position: absolute;
//   left: var(--x);
//   top: var(--y);
//   width: var(--size);
//   height: var(--size);
//   // background: radial-gradient(circle closest-side, pink, transparent);
//   transform: translate(-50%, -50%);
//   transition: width 0.2s ease, height 0.2s ease;
// }

// .mouse-cursor-gradient-tracking:hover:before {
//   --size: 200px;
// }